body {
    font-family: "Thasadith", sans-serif;
    background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
}


ul {
    margin: 0;
    padding: 0;
    
    
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.border {
    height: 550px;
    margin-top: 50px;
    max-width: 1100px;
    border-radius: 20px;
        
}
    
.container {
    height: 550px;
    margin-top: 50px;
    max-width: 1100px;
    border-radius: 20px;
    box-shadow: -6px 6px 54px rgb(0 0 0 / 20%);
    background-image: url("sky.jpg");
    background-size: 1100px;
    padding: 0;
}
